Options -Indexes
Options -MultiViews
DirectoryIndex index.html index.php
RewriteEngine On
RewriteBase /digisangam/

RewriteRule ^api/v1/?$ api/index.php?path= [QSA,L]
RewriteRule ^api/v1/(.*)$ api/index.php?path=$1 [QSA,L]

RewriteRule ^$ index.html [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
